:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  background-color: antiquewhite;
  cursor: pointer;

  :hover {
    opacity: 75%;
  }
}

.cheese-image {
  width: auto;
  height: 250px;
}

.cheese-info {
}
.update-cheese,
.delete-cheese {
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid grey;
}
.update-cheese-icon {
  color: green;
}

.delete-cheese-icon {
  color: red;
}
