:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  background-color: antiquewhite;
  cursor: pointer;

  :hover {
    opacity: 75%;
  }
}

.cheese-image {
  width: auto;
  height: 250px;
}

.cheese-info {
}
