<h1>{{ cheese.name }}</h1>
<img class="cheese-image" alt="{{ cheese.name }}" [src]="cheese.imageUrl" />
<p>
  Price per kg:
  {{ cheese.pricePerKilo }}
  &nbsp; Color: {{ cheese.color }}
</p>
@if (mode !== 'update') {
<div class="cheese-actions flex-center">
  <div class="update-cheese" (click)="onCheeseActionClick('update')">
    <fa-icon class="update-cheese-icon" [icon]="faPencil"></fa-icon>
  </div>
  <div class="delete-cheese" (click)="onCheeseActionClick('delete')">
    <fa-icon class="delete-cheese-icon" [icon]="faTrashCan"></fa-icon>
  </div>
</div>
}
