:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  background-color: antiquewhite;
  cursor: pointer;
}
:host :hover {
  opacity: 75%;
}
.cheese-image {
  width: 100%;
  height: auto;
}

.cheese-info {
}
