// TO DO : In future work on making grid responsive to different screen size.
.cheese-list {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-gap: 10px;
}

.add-cheese-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  opacity: 80%;
  cursor: pointer;
  border-radius: 20px;
  :hover {
    opacity: 50%;
  }
  height: 100%;

  .plus-icon {
    font-size: 100px;

    color: grey;
  }
}
