<form class="cheese-form flex-center" [formGroup]="cheeseForm">
  <div>
    <label for="name"> Cheese Name: </label>
    <input type="text" formControlName="name" />
  </div>
  <!-- @if ({{ cheeseForm.get("name").errors.required }}) {<small>
    Cheese name is required</small
  >} -->

  <div>
    <label> Image URL: </label> <input type="text" formControlName="imageUrl" />
  </div>
  <div>
    <label> Color: </label> <input type="text" formControlName="color" />
  </div>
  <div>
    <label> Price per Kg: </label>
    <input type="text" formControlName="pricePerKilo" />
  </div>
</form>
<button (click)="onAddClick()">{{ buttonLabel }}</button>
